<nav>
    <div class="parent">
        <a href="/" class="results-search">
            <img src="/logo.png" class="results-search">
        </a>
        <form action="/" method="POST" class="results-search">
            <input type="text" name="query" class="results-search" required>
            <button type="submit" class="results-search">Search</button>
        </form>
    </div>
</nav>