<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <p class="error">Page Not Found!</p>
    <a href="/"><img src="/404.png" class="error"></a>
    <%- include('./partials/footer.ejs') %>
</body>
</html>